<% include ../partials/header %>
<div class="row">
  <div class="col-md-3">
    <div id="map"></div>
  </div>
  <div class="col-md-9">
    <div class="card mb-3">
      <img class="card-img-top" src="<%= campground.image %>" alt="<%= campground.name %>">
      <div class="card-body">
        <p class="float-right">
          $<%= campground.cost %>/night
        </p>
        <h5 class="card-title"><%= campground.name %></h5>
		<div class="pull-right">
            <button type="button" class="btn btn-xs btn-primary" data-toggle="modal"
                data-target="#campgroundLikes">
                <span>Total likes: <i class="fas fa-thumbs-up"></i> <%= campground.likes.length %></span>
            </button>
        </div>
        <div style="padding-bottom: 10px;">
            <form action="/campgrounds/<%= campground._id %>/like" method="POST">
        
            <% if (currentUser && campground.likes.some(function (like) {
                return like.equals(currentUser._id)
            })) { %>
                <button class="btn btn-primary btn-sm">
                    <i class="fas fa-thumbs-up"></i> Liked (<%= campground.likes.length %>)
                </button>
            <% } else { %>
                <button class="btn btn-secondary btn-sm">
                    <i class="fas fa-thumbs-up"></i> Like (<%= campground.likes.length %>)
                </button>
            <% } %>
    </form>
    </div>  
        <p class="card-text"><%= campground.description %></p>
		<p>
			<em>Submitted by: <i class="fas fa-user"></i> <a href="/users/<%= campground.author.id %>"><%= campground.author.username %></a>, <%= moment(campground.createdAt).fromNow() %></em>
		</p>  
        <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
        <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit"><i class="fas fa-edit"></i> Edit</a>
        <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST" class="delete-form">
          <button class="btn btn-danger"><i class="fas fa-trash"></i> Delete</button>
        </form>
        <% } %>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="text-right">
          <a class="btn btn-primary pull-right" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
          <i class="fas fa-plus"></i> Add new comment</a>
        </div>
        <hr>
        <!--Comment card TITLE -->
		  <h4><strong><i class="far fa-comment"></i>Comments</strong></h4>
      <!--Collapse Add a comment form START-->
      <div class="collapse" id="collapseComment">
        <div class="card card-body bg-light" style="border: 5px solid;">
            <% if(!currentUser) { %>
          <!--If the user is not logged in, redirect to the login page-->
          <h5>You need to login before you can comment. <a href="/login">Click here</a> to go to the login page.</h5>
            <% } %>
            <% if(currentUser) { %>
          <!--If the user is logged in, show the new comment form-->
          <h4>Write your comment <i class="fas fa-pen"></i></h4>
          <form id="add-comment-form" action="/campgrounds/<%= campground._id %>/comments" method="POST">
            <div class="form-group">
              <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
            </div>
            <div class="form-group">
              <textarea class="form-control" name="comment[text]" placeholder="Write your comment here..." form="add-comment-form" rows="5" cols="70"></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-sm"><i class="fas fa-comment-medical"></i> Comment</button>
            </div>
          </form>
            <% } %>
        </div>
      </div>
      <!--Collapse Add a comment form END-->
      <hr>
      <!--If there are'n comments - say to user no comments.-->
        <% if (campground.comments.length === 0) { %>
		<p>
			<em style="color: grey;">No comments yet.</em>
		</p>  
      
        <% } %>
      <!--Display comments by looping through them-->
        <% campground.comments.forEach(function(comment) { %>
      <div class="row">
        <div class="col-md-12" style="padding-bottom: 20px">
          <strong>
              <% if (currentUser && currentUser._id.equals(comment.author.id)) { %>
            <!--If the current user owns the comment, the user icon to dark -->
            <i class="fas fa-user"></i>
              <% } else { %>
            <!--Else just display the icon only with border-->
            <i class="far fa-user"></i>
              <% } %>
            <!--Print out the author username-->
              <%= comment.author.username %>
          </strong>
          <!--Show when the comment was made-->
          <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
          <!--Printing the comment-->
          <p><%= comment.text %></p>
          <!--If the visitor is logged in and the owner of the comment, show the edit and delete buttons-->
            <% if (currentUser && currentUser._id.equals(comment.author.id)) { %>
          <!--Edit button used for collapsing the edit comment form-->
          <a class="btn btn-xs btn-warning" role="button" data-toggle="collapse" href="#collapseEdit<%= comment._id %>" aria-expanded="false" aria-controls="collapse<%= comment._id %>">
            <i class="fas fa-edit"></i> Edit</a>
          <!--Delete comment button-->
          <form id="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" style="display: inline;">
            <button class="btn btn-xs btn-danger"><i class="fas fa-trash"></i> Delete</button>
          </form>
          <!--Edit comment form-->
          <div class="collapse" id="collapseEdit<%= comment._id %>">
            <div class="card-body bg-light" style="border: 5px solid; margin-top: 15px;">
              <h4>Edit your comment <i class="fas fa-edit"></i></h4>
              <form id="edit-comment-form<%= comment._id %>" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                <div class="form-group">
                  <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="comment[text]" placeholder="Your comment text..." form="edit-comment-form<%= comment._id %>" rows="5" cols="70"><%= comment.text %></textarea>
                </div>
                <div class="form-group">
                  <button class="btn btn-warning btn-sm"> <i class="fas fa-edit"></i> Edit comment</button>
                </div>
              </form>
            </div>
          </div>
            <% } %>
          <hr>
        </div>
      </div>
        <% }) %>
    </div>
    <!--COMMENT SECTION END-->
		<!-- Campground Likes Modal -->
<div id="campgroundLikes" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Campground likes: <%= campground.likes.length %></h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Liked by:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% campground.likes.forEach(function(like) { %>
                        <tr>
                            <td><span class="badge"><i class="fas fa-user"></i></span><%= like.username %></td>
                        </tr>
                    <% }); %>
                    <% if (campground.likes.length === 0) { %>
                        <tr>
                            <td><em>No likes yet.</em></td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
  function initMap() {
    var lat = <%= campground.lat %>;
    var lng = <%= campground.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6Cl9keyVzqXfSGrsKD43qzaaOTveVPvw&callback=initMap"></script>


<% include ../partials/footer %>